{% extends 'base.html.twig' %}

{% block title %}E-Portfolio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="header-container">
        <h1>E-Portfolio</h1>
        <p><strong>Découvrez les différentes compétences que j'ai acquises lors de mon premier semestre à l'IUT RT de Roanne.</strong></p>
    </div>
    <div class="portfolio-container">
        <div class="flip-card" onclick="toggleCard(this)">
            <div class="flip-card-inner">
                <div class="flip-card-front">Compétence 1</div>
                <div class="flip-card-back">
                    <p>AC11.01 Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications.</p>
                    <button onclick="openIframe('https://docs.google.com/document/d/1F-vtr24K9R_Sdq9vUUG2PjUFbgpUwAC8N9G6i-35KSo/preview')">Preuves</button>
                    <button onclick="openIframe('https://docs.google.com/document/d/187gWjIXeCyKW6UaucPYvGpjuIu2_n11bnreJak0vdC4/preview')">Analyse Réflexive</button>
                </div>
            </div>
        </div>
        <div class="flip-card" onclick="toggleCard(this)">
            <div class="flip-card-inner">
                <div class="flip-card-front">Compétence 2</div>
                <div class="flip-card-back">
                    <p>AC11.03 Configurer les fonctions de base du réseau local .</p>
                    <button onclick="openIframe('https://docs.google.com/document/d/1Zo7KrNPAo7dCAPGhBHIgbJpvWjWG7Ie7a4ibnMJZQpU/edit?tab=t.0')">Preuves</button>
                    <button onclick="openIframe('https://docs.google.com/document/d/1AHq4NIy2JEmO7m0OJOwVBGjoVC2UVh3qnkLOVske2QU/edit?tab=t.0')">Analyse Réflexive</button>
                </div>
            </div>
        </div>
        <div class="flip-card" onclick="toggleCard(this)">
            <div class="flip-card-inner">
                <div class="flip-card-front">Compétence 3</div>
                <div class="flip-card-back">
                    <p>AC12.01 Mesurer et analyser les signaux .</p>
                    <button onclick="openIframe('https://docs.google.com/document/d/1Ae2CWUnRc6PQ02JYKL6J_1V4dBKtUNVxjy10ULunah0/edit?usp=drive_link')">Preuves</button>
                    <button onclick="openIframe('https://docs.google.com/document/d/1aO7mtfmHKzb_ZYoxY2fzIjJCoDkkJyIlUczEyHx5QZg/edit?usp=drive_link')">Analyse Réflexive</button>
                </div>
            </div>
        </div>
        <div class="flip-card" onclick="toggleCard(this)">
            <div class="flip-card-inner">
                <div class="flip-card-front">Compétence 4</div>
                <div class="flip-card-back">
                    <p>AC13.03 Traduire un algorithme, dans un langage et pour un environnement donné .</p>
                    <button onclick="openIframe('https://docs.google.com/document/d/18keUKzN_RFuKsskbi16avtUqdEtOqsMH8PiD-KgBMD4/edit?tab=t.0')">Preuves</button>
                    <button onclick="openIframe('https://docs.google.com/document/d/19GioSQEizjYDKhV1yT5BtXkWO85MtZHO9K71QKJizQM/edit?tab=t.0')">Analyse Réflexive</button>
                </div>
            </div>
        </div>
    </div>
    <div class="iframe-container" id="iframe-container">
        <iframe id="iframe-content" src=""></iframe>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function toggleCard(card) {
            card.classList.toggle('flipped');
        }
        function openIframe(url) {
            document.getElementById('iframe-content').src = url;
            document.getElementById('iframe-container').style.display = 'block';
        }
    </script> 
<footer class="footer">
    <p>© {{ "now"|date("Y") }}  Mael DUTHU. Tous droits réservés. Reproduction interdite. Contact: maelduthu@gmail.com.</p>
</footer>
{% endblock %}